fastapi~=0.78.0
psycopg2
asyncpg
sqlalchemy~=1.4.36
databases~=0.5.5
uvicorn~=0.17.6
pytest~=7.1.2
requests
openpyxl
python-jose
passlib~=1.7.4
python-multipart
asyncio~=3.4.3
bcrypt
starlette~=0.19.1
pydantic~=1.9.1
httpx~=0.23.0
aiounittest~=1.4.1